/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0070b4;
  --ifm-color-primary-dark: #004d7a;
  --ifm-color-primary-darker: #00446c;
  --ifm-color-primary-darkest: #003e61;
  --ifm-color-primary-light: #00a0e1;
  --ifm-color-primary-lighter: #7fd5f3;
  --ifm-color-primary-lightest: #b0e6f8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-success: #2f855a;
  --ifm-color-secondary: #2b6cb0;
  --ifm-color-info: #805ad5;
  --ifm-color-warning: #dd6b20;
  --ifm-color-danger: #c53030;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00a0e1;
  --ifm-color-primary-dark: #004d7a;
  --ifm-color-primary-darker: #00446c;
  --ifm-color-primary-darkest: #003e61;
  --ifm-color-primary-light: #00a0e1;
  --ifm-color-primary-lighter: #7fd5f3;
  --ifm-color-primary-lightest: #b0e6f8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-layout-navbar, .navbar-sidebar__brand {
  background: #0070B4;
  background: linear-gradient(0deg, rgba(0, 112, 180, 1) 0%, rgba(0, 47, 77, 1) 100%);
}

.theme-doc-sidebar-item-link.api-method > a::before {
  display: inline-block;
  min-width: 42px;
  margin-right: 8px;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}

.theme-doc-sidebar-item-link.get.api-method > a::before {
  content: 'GET';
  background-color: var(--ifm-color-success);
}

.theme-doc-sidebar-item-link.post.api-method > a::before {
  content: 'POST';
  background-color: var(--ifm-color-secondary);
}

.theme-doc-sidebar-item-link.put.api-method > a::before {
  content: 'PUT';
  background-color: var(--ifm-color-info);
}

.theme-doc-sidebar-item-link.patch.api-method > a::before {
  content: 'PATCH';
  background-color: var(--ifm-color-warning);
}

.theme-doc-sidebar-item-link.delete.api-method > a::before {
  content: 'DEL';
  background-color: var(--ifm-color-danger);
}

.badge--primary {
  background-color: var(--ifm-color-success);
}

.border--rounded {
  border-radius: var(--ifm-card-border-radius);
}

.orderDiagram {
  max-width: 100%;
  height: auto;
  cursor: zoom-in;
}

.navbar__link {
  color: #e3e3e3;
}

.card, .border--rounded {
  border: #6c6c6c 1px solid;
}
